$primary-color: rgb(43, 43, 43);
$secondary-color: rgb(196, 18, 18);
$show-home-image: true;
$home-image: url(../img/00100dPORTRAIT_00100_BURST20190908160301067_COVER.jpg);
$background-opacity: 0.9;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: $primary-color;
                opacity: $background-opacity;
            }
        }
    }
}

@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaXL {
    @media screen and (min-width: 1171px) {
        @content;
    }
}